/* @import '/node_modules/bootstrap/scss/_accordion.scss' * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
.accordion-button {
  background-color: grey !important;

  color: #fff !important;
}
.accordion {
  border-width: 0px;
}
h1 {
  font-size: 32px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  gap: 12px;
}
img {
  max-width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: grey;
  height: 100%;
}
.header {
  height: 100vh;
}
.header__nav--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  align-items: center;
}
.header__nav--logo {
  color: red;
}
.header__nav--btn {
  background-color: red;
  border: none;
  border-radius: 0.3em;
  padding: 0.4em 1.2em 0.4em 1.2em;
  color: white;
}
.header__content {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
}
.header__content__title {
  font-size: 40px;
  margin: auto;
  width: 30%;
}
.header__content--section--form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header__content--section--form--email {
  padding: 10px 120px;
  outline: none;
}
.header__content--section--form--btn {
  background: red;
  border: none;
  padding: 10px 12px;
  color: #fff;
  text-decoration: none;
}
/* Tv show */
.section__main--show {
  padding: 2em;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #fff;
  justify-content: space-evenly;
  font-size: 25px;
}
.section__mobile {
  padding: 2em;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #fff;
  justify-content: space-evenly;
  font-size: 20px;
}
.article__content {
  padding: 2em;
  text-align: left;
  background: #000000;
  color: #fff;
}
.article__content--head {
  font-size: 32px;
  font-weight: 900;
}
.section__main--show {
  display: flex;
}
.article__kids {
  display: flex;
  background: #000000;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
.accordion__parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  background: #000000;
  color: #eee;
  width: 100%;
  text-align: center;
}
.accordion__parent--list--btn {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background-color: lightslategray;
  margin: 0 auto;
  width: 40%;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: left;
}
.accordion__parent--list--items {
  overflow: hidden;
  background-color: #fff;
  padding: 0px 12px;
  color: grey;
  margin: 0 auto;
  width: 40%;
}
.minus {
  display: none;
}

.accordion__wrapper {
  background-color: #000000;
  padding: 5%;
}
.accordion {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: none;
  justify-content: center;
  margin: 0 auto;
  /* margin: 0 auto; */
}
.form {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn {
  background: red;
  border: none;
}
.form-data {
  display: flex;

  justify-content: center;
  /* margin: auto; */
  /* flex-direction: column; */
}
.footer-list {
  background: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.center {
  margin: auto;
}
.footer-list--blocquote {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer-list__items--list {
  list-style: none;
  color: #fff;
}
.footer-list__items--link {
  color: #fff;
  text-decoration: none;
}
.footer-wrap {
  display: flex;
}
.grey {
  background-color: grey;
}
.accordion-button {
  background-color: grey;
}
.cards__wrapper {
  display: flex;
}
.section__mobile--img {
  position: relative;
}
.card-body {
  border: 2px solid rgb(214, 209, 209);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: absolute;
  bottom: 15px;
  left: 9%;

  width: 80%;
}
.card-body__items {
  display: flex;

  align-items: center;
  /* padding: 1%; */
}
.text {
  list-style: none;
}
.card-text {
  color: black;
}
.card-title {
  color: black;
}
.section__main--show--imag--fluid {
  position: relative;
  z-index: 12;
}
.video-responsive {
  position: absolute;
  top: 20%;
  left: 11%;

  /* top: 20px; */
}
@media screen and (max-width: 1000px) {
  .header__content--section--form {
    flex-direction: column;
    gap: 12px;
  }
  .header__content--section--form--email {
    padding: 10px 40px;
  }
  .section__main--show {
    text-align: center;
    flex-direction: column;

    padding: 5%;
  }
  .section__main--show h1 {
    font-size: 35px;
  }
  .section__main--show p {
    font-size: 18px;
  }
  .section__mobile {
    flex-direction: column-reverse;
    text-align: center;
    /* font-size: 15px; */
    padding: 5%;
  }
  .section__mobile h1 {
    font-size: 35px;
  }
  .section__mobile p {
    font-size: 18px;
  }
  .article__content {
    text-align: center;
  }
  .article__content h1 {
    font-size: 15px;
  }
  .article__content p {
    font-size: 12px;
  }
  .article__kids {
    text-align: center;
    flex-direction: column-reverse;
    padding: 5%;
  }

  .form-data {
    display: flex;
    align-items: center;
  }
  .header__content__title {
    margin: auto;
    width: 100%;
  }
}
